################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication1/WebApplication1/WebApplication1.csproj.user
/WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/WebApplication1/WebApplication1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/WebApplication1/WebApplication1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/WebApplication1/WebApplication1/obj/Debug/build.force
/WebApplication1/WebApplication1/obj/Debug
/WebApplication1/WebApplication1/bin/WebGrease.dll
/WebApplication1/WebApplication1/bin/System.Web.WebPages.Razor.dll
/WebApplication1/WebApplication1/bin/System.Web.WebPages.dll
/WebApplication1/WebApplication1/bin/System.Web.WebPages.Deployment.dll
/WebApplication1/WebApplication1/bin/System.Web.Razor.dll
/WebApplication1/WebApplication1/bin/System.Web.Optimization.dll
/WebApplication1/WebApplication1/bin/System.Web.Mvc.dll
/WebApplication1/WebApplication1/bin/System.Web.Helpers.dll
/WebApplication1/WebApplication1/bin/Owin.dll
/WebApplication1/WebApplication1/bin/Newtonsoft.Json.dll
/WebApplication1/WebApplication1/bin/Microsoft.Web.Infrastructure.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.Twitter.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.OAuth.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.Google.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.Facebook.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Security.Cookies.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.Host.SystemWeb.dll
/WebApplication1/WebApplication1/bin/Microsoft.Owin.dll
/WebApplication1/WebApplication1/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebApplication1/WebApplication1/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebApplication1/WebApplication1/bin/Microsoft.AspNet.Identity.Owin.dll
/WebApplication1/WebApplication1/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/WebApplication1/WebApplication1/bin/Microsoft.AspNet.Identity.Core.dll
/WebApplication1/WebApplication1/bin/EntityFramework.SqlServer.dll
/WebApplication1/WebApplication1/bin/EntityFramework.dll
/WebApplication1/WebApplication1/bin/Antlr3.Runtime.dll
/WebApplication1/WebApplication1/bin
/WebApplication1/WebApplication1
/WebApplication1/packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
/WebApplication1/packages/WebGrease.1.5.2/tools/WG.exe
/WebApplication1/packages/WebGrease.1.5.2/tools
/WebApplication1/packages/WebGrease.1.5.2/lib/WebGrease.dll
/WebApplication1/packages/WebGrease.1.5.2/lib
/WebApplication1/packages/WebGrease.1.5.2
/WebApplication1/packages/Respond.1.2.0/Respond.1.2.0.nupkg
/WebApplication1/packages/Respond.1.2.0/content/Scripts/respond.min.js
/WebApplication1/packages/Respond.1.2.0/content/Scripts/respond.js
/WebApplication1/packages/Respond.1.2.0/content/Scripts
/WebApplication1/packages/Respond.1.2.0
/WebApplication1/packages/Owin.1.0/Owin.1.0.nupkg
/WebApplication1/packages/Owin.1.0/lib/net40/Owin.dll
/WebApplication1/packages/Owin.1.0/lib/net40
/WebApplication1/packages/Owin.1.0
/WebApplication1/packages/Newtonsoft.Json.6.0.4/tools/install.ps1
/WebApplication1/packages/Newtonsoft.Json.6.0.4/tools
/WebApplication1/packages/Newtonsoft.Json.6.0.4/Newtonsoft.Json.6.0.4.nupkg
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/portable-net45%2Bwp80%2Bwin8%2Bwpa81
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/portable-net40%2Bsl5%2Bwp80%2Bwin8%2Bwpa81
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/netcore45/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/netcore45
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net45/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net45
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net40/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net40
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net35/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net35
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.xml
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net20/Newtonsoft.Json.dll
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib/net20
/WebApplication1/packages/Newtonsoft.Json.6.0.4/lib
/WebApplication1/packages/Newtonsoft.Json.6.0.4
/WebApplication1/packages/Modernizr.2.6.2/Tools/uninstall.ps1
/WebApplication1/packages/Modernizr.2.6.2/Tools/install.ps1
/WebApplication1/packages/Modernizr.2.6.2/Tools/common.ps1
/WebApplication1/packages/Modernizr.2.6.2/Tools
/WebApplication1/packages/Modernizr.2.6.2/Modernizr.2.6.2.nupkg
/WebApplication1/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
/WebApplication1/packages/Modernizr.2.6.2/Content/Scripts
/WebApplication1/packages/Modernizr.2.6.2
/WebApplication1/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
/WebApplication1/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
/WebApplication1/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40
/WebApplication1/packages/Microsoft.Web.Infrastructure.1.0.0.0
/WebApplication1/packages/Microsoft.Owin.Security.Twitter.3.0.1/Microsoft.Owin.Security.Twitter.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.XML
/WebApplication1/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45/Microsoft.Owin.Security.Twitter.dll
/WebApplication1/packages/Microsoft.Owin.Security.Twitter.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.Twitter.3.0.1
/WebApplication1/packages/Microsoft.Owin.Security.OAuth.3.0.1/Microsoft.Owin.Security.OAuth.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.XML
/WebApplication1/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45/Microsoft.Owin.Security.OAuth.dll
/WebApplication1/packages/Microsoft.Owin.Security.OAuth.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.OAuth.3.0.1
/WebApplication1/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/Microsoft.Owin.Security.MicrosoftAccount.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
/WebApplication1/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.dll
/WebApplication1/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.MicrosoftAccount.3.0.1
/WebApplication1/packages/Microsoft.Owin.Security.Google.3.0.1/Microsoft.Owin.Security.Google.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.XML
/WebApplication1/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45/Microsoft.Owin.Security.Google.dll
/WebApplication1/packages/Microsoft.Owin.Security.Google.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.Google.3.0.1
/WebApplication1/packages/Microsoft.Owin.Security.Facebook.3.0.1/Microsoft.Owin.Security.Facebook.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.XML
/WebApplication1/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45/Microsoft.Owin.Security.Facebook.dll
/WebApplication1/packages/Microsoft.Owin.Security.Facebook.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.Facebook.3.0.1
/WebApplication1/packages/Microsoft.Owin.Security.Cookies.3.0.1/Microsoft.Owin.Security.Cookies.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.xml
/WebApplication1/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45/Microsoft.Owin.Security.Cookies.dll
/WebApplication1/packages/Microsoft.Owin.Security.Cookies.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.Cookies.3.0.1
/WebApplication1/packages/Microsoft.Owin.Security.3.0.1/Microsoft.Owin.Security.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.XML
/WebApplication1/packages/Microsoft.Owin.Security.3.0.1/lib/net45/Microsoft.Owin.Security.dll
/WebApplication1/packages/Microsoft.Owin.Security.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Security.3.0.1
/WebApplication1/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/Microsoft.Owin.Host.SystemWeb.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
/WebApplication1/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45/Microsoft.Owin.Host.SystemWeb.dll
/WebApplication1/packages/Microsoft.Owin.Host.SystemWeb.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.Host.SystemWeb.3.0.1
/WebApplication1/packages/Microsoft.Owin.3.0.1/Microsoft.Owin.3.0.1.nupkg
/WebApplication1/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.XML
/WebApplication1/packages/Microsoft.Owin.3.0.1/lib/net45/Microsoft.Owin.dll
/WebApplication1/packages/Microsoft.Owin.3.0.1/lib/net45
/WebApplication1/packages/Microsoft.Owin.3.0.1
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/vbc.exe
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/System.Reflection.Metadata.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/System.Collections.Immutable.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.VisualBasic.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CodeAnalysis.CSharp.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.Build.Tasks.CodeAnalysis.dll
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools/csc.exe
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/tools
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0/build
/WebApplication1/packages/Microsoft.Net.Compilers.1.0.0
/WebApplication1/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Microsoft.jQuery.Unobtrusive.Validation.3.2.3.nupkg
/WebApplication1/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.min.js
/WebApplication1/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts/jquery.validate.unobtrusive.js
/WebApplication1/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3/Content/Scripts
/WebApplication1/packages/Microsoft.jQuery.Unobtrusive.Validation.3.2.3
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build
/WebApplication1/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/Microsoft.AspNet.WebPages.3.2.3.nupkg
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.xml
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.xml
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Razor.dll
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.dll
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.xml
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.WebPages.Deployment.dll
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.xml
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45/System.Web.Helpers.dll
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/lib/net45
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.uninstall.xdt
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/Content/Web.config.install.xdt
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3/Content
/WebApplication1/packages/Microsoft.AspNet.WebPages.3.2.3
/WebApplication1/packages/Microsoft.AspNet.Web.Optimization.1.1.3/Microsoft.AspNet.Web.Optimization.1.1.3.nupkg
/WebApplication1/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/system.web.optimization.xml
/WebApplication1/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40/System.Web.Optimization.dll
/WebApplication1/packages/Microsoft.AspNet.Web.Optimization.1.1.3/lib/net40
/WebApplication1/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/WebApplication1/packages/Microsoft.AspNet.Razor.3.2.3/Microsoft.AspNet.Razor.3.2.3.nupkg
/WebApplication1/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.xml
/WebApplication1/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45/System.Web.Razor.dll
/WebApplication1/packages/Microsoft.AspNet.Razor.3.2.3/lib/net45
/WebApplication1/packages/Microsoft.AspNet.Razor.3.2.3
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/Microsoft.AspNet.Mvc.5.2.3.nupkg
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.xml
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45/System.Web.Mvc.dll
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/lib/net45
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.uninstall.xdt
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/Content/Web.config.install.xdt
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3/Content
/WebApplication1/packages/Microsoft.AspNet.Mvc.5.2.3
/WebApplication1/packages/Microsoft.AspNet.Identity.Owin.2.2.1/Microsoft.AspNet.Identity.Owin.2.2.1.nupkg
/WebApplication1/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.xml
/WebApplication1/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45/Microsoft.AspNet.Identity.Owin.dll
/WebApplication1/packages/Microsoft.AspNet.Identity.Owin.2.2.1/lib/net45
/WebApplication1/packages/Microsoft.AspNet.Identity.Owin.2.2.1
/WebApplication1/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/Microsoft.AspNet.Identity.EntityFramework.2.2.1.nupkg
/WebApplication1/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
/WebApplication1/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45/Microsoft.AspNet.Identity.EntityFramework.dll
/WebApplication1/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1/lib/net45
/WebApplication1/packages/Microsoft.AspNet.Identity.EntityFramework.2.2.1
/WebApplication1/packages/Microsoft.AspNet.Identity.Core.2.2.1/Microsoft.AspNet.Identity.Core.2.2.1.nupkg
/WebApplication1/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.xml
/WebApplication1/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45/Microsoft.AspNet.Identity.Core.dll
/WebApplication1/packages/Microsoft.AspNet.Identity.Core.2.2.1/lib/net45
/WebApplication1/packages/Microsoft.AspNet.Identity.Core.2.2.1
/WebApplication1/packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
/WebApplication1/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
/WebApplication1/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
/WebApplication1/packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
/WebApplication1/packages/jQuery.Validation.1.11.1/Content/Scripts
/WebApplication1/packages/jQuery.Validation.1.11.1
/WebApplication1/packages/jQuery.1.10.2/Tools/uninstall.ps1
/WebApplication1/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
/WebApplication1/packages/jQuery.1.10.2/Tools/install.ps1
/WebApplication1/packages/jQuery.1.10.2/Tools/common.ps1
/WebApplication1/packages/jQuery.1.10.2/Tools
/WebApplication1/packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
/WebApplication1/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
/WebApplication1/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
/WebApplication1/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
/WebApplication1/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
/WebApplication1/packages/jQuery.1.10.2/Content/Scripts
/WebApplication1/packages/jQuery.1.10.2
/WebApplication1/packages/EntityFramework.6.1.3/tools/migrate.exe
/WebApplication1/packages/EntityFramework.6.1.3/tools/install.ps1
/WebApplication1/packages/EntityFramework.6.1.3/tools/init.ps1
/WebApplication1/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
/WebApplication1/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
/WebApplication1/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
/WebApplication1/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
/WebApplication1/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
/WebApplication1/packages/EntityFramework.6.1.3/tools
/WebApplication1/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
/WebApplication1/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
/WebApplication1/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
/WebApplication1/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
/WebApplication1/packages/EntityFramework.6.1.3/lib/net45
/WebApplication1/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
/WebApplication1/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
/WebApplication1/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
/WebApplication1/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
/WebApplication1/packages/EntityFramework.6.1.3/lib/net40
/WebApplication1/packages/EntityFramework.6.1.3/lib
/WebApplication1/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/WebApplication1/packages/EntityFramework.6.1.3/content/Web.config.transform
/WebApplication1/packages/EntityFramework.6.1.3/content/App.config.transform
/WebApplication1/packages/EntityFramework.6.1.3/content
/WebApplication1/packages/EntityFramework.6.1.3
/WebApplication1/packages/bootstrap.3.0.0/content/Scripts/bootstrap.min.js
/WebApplication1/packages/bootstrap.3.0.0/content/Scripts/bootstrap.js
/WebApplication1/packages/bootstrap.3.0.0/content/Scripts
/WebApplication1/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.woff
/WebApplication1/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.ttf
/WebApplication1/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.svg
/WebApplication1/packages/bootstrap.3.0.0/content/fonts/glyphicons-halflings-regular.eot
/WebApplication1/packages/bootstrap.3.0.0/content/fonts
/WebApplication1/packages/bootstrap.3.0.0/content/Content/bootstrap.min.css
/WebApplication1/packages/bootstrap.3.0.0/content/Content/bootstrap.css
/WebApplication1/packages/bootstrap.3.0.0/content/Content
/WebApplication1/packages/bootstrap.3.0.0/content
/WebApplication1/packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
/WebApplication1/packages/bootstrap.3.0.0
/WebApplication1/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
/WebApplication1/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.dll
/WebApplication1/packages/Antlr.3.4.1.9004/lib
/WebApplication1/packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
/WebApplication1/packages/Antlr.3.4.1.9004
/WebApplication1/packages
/WebApplication1/.vs/WebApplication1/v14/.suo
/WebApplication1/.vs/WebApplication1/v14
/WebApplication1/.vs/config/applicationhost.config
/WebApplication1/.vs/config
/WebApplication1/.vs
/WebApplication1
