@{
    ViewBag.Title = "Archive Lookup";
}

<div class="jumbotron">

	<img src="ICASLogo.png">
	<h1>
		Archive Lookup
		<div class="underline"></div>
	</h1>
	<p>Select the criteria for your search: </p>

	<button id="idInputButton" onclick="showInput('idInput')" class="addBtn">ID</button>
	<button id="mkInputButton" onclick="showInput('mkInput')" class="addBtn">Major Key</button>
	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">First Name</button>
	<button id="middlenameInputButton" onclick="showInput('middlenameInput')" class="addBtn">Middle Name</button>
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">Last Name</button>
	<button id="functionaltitleInputButton" onclick="showInput('functionaltitleInput')" class="addBtn">Functional Title</button>
	<button id="statusInputButton" onclick="showInput('statusInput')" class="addBtn">Status</button>
	<button id="intakeyearInputButton" onclick="showInput('intakeyearInput')" class="addBtn">Intake Year</button>
	<button id="tpceInputButton" onclick="showInput('tpceInput')" class="addBtn">TPCE STUDENT</button>
	<button id="treInputButton" onclick="showInput('treInput')" class="addBtn">TRE Student</button>
	<button id="csdInputButton" onclick="showInput('csdInput')" class="addBtn">Contract Start Date</button>
	<button id="cedInputButton" onclick="showInput('cedInput')" class="addBtn">Contract End Date</button>
	<button id="firmidInputButton" onclick="showInput('firmidInput')" class="addBtn">Firm ID</button>
	<button id="firmnameInputButton" onclick="showInput('firmnameInput')" class="addBtn">Firm Name</button>
	<button id="fcdInputButton" onclick="showInput('fcdInput')" class="addBtn">Final Certificate Date</button>
	<button id="ecdInputButton" onclick="showInput('ecdInput')" class="addBtn">Exam Certificate Date</button>
	<button id="bpInputButton" onclick="showInput('bpInput')" class="addBtn">Be Pass</button>
	<button id="lbvInputButton" onclick="showInput('lbvInput')" class="addBtn">Logbook Verified</button>
	<button id="lbvdInputButton" onclick="showInput('lbvdInput')" class="addBtn">Logbook Verified Date</button>
	<button id="itpsInputButton" onclick="showInput('itpsInput')" class="addBtn">ITP Student</button>
	<button id="itpInputButton" onclick="showInput('itpInput')" class="addBtn">ITP Passed</button>
	<button id="eaInputButton" onclick="showInput('eaInput')" class="addBtn">Event Attendees</button>
	<button id="tpmInputButton" onclick="showInput('tpmInput')" class="addBtn">TP Monthly</button>



	<p id="idInputText" class="lead">ID:
	<input type="text" id="idInput" class="input-lookup" name="id">
	</p>

	<p id="mkInputText" class="lead">Major Key:
	<input type="text" id="mkInput" class="input-lookup" name="mk">
	</p>

    <p id="forenameInputText" class="lead"> First Name:
	<input type="text" id="forenameInput" class="input-lookup" name="forename">
	</p>

	<p id="middlenameInputText" class="lead">Middle Name:
		<input type="text" id="middlenameInput" class="input-lookup" name="middlename">
	</p>

	<p id="surnameInputText" class="lead">Last Name:
	<input id = "surnameInput" type="text" class="input-lookup" name="surname">
	</p>

	<p id="functionaltitleInputText" class="lead">Functional Title:
	<input id="functionaltitleInput" type="text" class="input-lookup" name="functionaltitle">
	</p>

	<p id="intakeyearInputText" class="lead">Intake Year:
		<input id="intakeyearInput" type="text" class="input-lookup" name="intakeyear" placeholder="EG: 1990/1991">
	</p>

	<p id="statusInputText" class="lead">Status:
	<input type="text" id="statusInput" class="input-lookup" name="status">
	</p>

	<p id="tpceInputText" class="lead">TPCE STUDENT:
	<input type="text" id="tpceInput" class="input-lookup" name="tpce">
	</p>

	<p id="treInputText" class="lead">TRE STUDENT:
	<input type="text" id="treInput" class="input-lookup" name="tre">
	</p>

	<p id="csdInputText" class="lead">Contract Start Date:
		<input type="text" id="csdInput" class="input-lookup" name="csd">
	</p>

	<p id="cedInputText" class="lead">Contract End Date:
		<input type="text" id="cedInput" class="input-lookup" name="ced">
	</p>

	<p id="firmidInputText" class="lead">Firm ID:
		<input type="text" id="firmidInput" class="input-lookup" name="firmid">
	</p>

	<p id="firmnameInputText" class="lead">Firm Name:
		<input type="text" id="firmnameInput" class="input-lookup" name="firmname">
	</p>

	<p id="fcdInputText" class="lead">Final Certificate Date:
		<input type="text" id="fcdInput" class="input-lookup" name="fcd">
	</p>

	<p id="ecdInputText" class="lead">Exam Certificate Date:
		<input type="text" id="ecdInput" class="input-lookup" name="ecd">
	</p>

	<p id="bpInputText" class="lead">Be Pass:
		<input type="text" id="bpInput" class="input-lookup" name="bp">
	</p>

	<p id="lbvInputText" class="lead">Logbook Verified:
	<input type="text" id="lbvInput" class="input-lookup" name="lbv">
	</p>
	
	<p id="lbvdInputText" class="lead">Logbook Verified Date:
		<input type="text" id="lbvdInput" class="input-lookup" name="lbvd">
	</p>
	
	<p id="itpsInputText" class="lead">ITP Student:
		<input type="text" id="itpsInput" class="input-lookup" name="itps">
	</p>
	
	<p id="itpInputText" class="lead">ITP Passed:
		<input type="text" id="itpInput" class="input-lookup" name="itp">
	</p>

	<p id="eaInputText" class="lead">Event Attendees:
		<input type="text" id="eaInput" class="input-lookup" name="ea">
	</p>

	<p id="tpmInputText" class="lead">TP Monthly:
		<input type="text" id="tpmInput" class="input-lookup" name="tpm">
	</p>

	<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
	
	<h1 id="ResultsHeader">
		Results
		<div id="resultsUnderline" class="underlineResults"></div>
	</h1>
	<button id="copyButton" onclick="copy()" class="copyBtn">&#x270E</button>
	<div id="ResultsHeaders"></div>
	<div id="ResultsContainer" class="minotron">
		<table id="ResultsTable">
			<tr>
				
			</tr>
		</table>
	</div>
	<p id="clipboard" class="clipboard"></p>
</div>

<script>
	//WHEN ADDING A NEW BUTTON ADD THE NAME OF IT HERE \/
	const getBtnNames = () => ["id", "mk", "forename", "middlename", "surname", "functionaltitle", "status", "intakeyear", "tpce", "tre", "csd", "ced", "firmid", "firmname", "fcd", "ecd", "bp", "lbv", "lbvd", "itps", "itp", "ea", "tpm"];
	//ADD NAME OF NEW FIELD HERE \/
	const getClassNames = () => ["ID", "MAJOR_KEY", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "FUNCTIONAL_TITLE", "STATUS", "INTAKE_YEAR", "TPCE_STUDENT", "TRE_STUDENT", "CONTRACT_START_DATE", "CONTRACT_END_DATE", "FIRM_ID", "FIRM_NAME", "FINAL_CERTIFICATE_DATE", "EXAM_CERTIFICATE_DATE", "BE_PASS", "LOGBOOK_VERIFIED", "LOGBOOK_VERIFIED_DATE", "ITP_STUDENT", "ITP_Passed", "EVENT_ATTENDEES", "TP_Monthly"];
	
	function showInput(input) {
		let inputText = document.getElementById(input);
		let inputTextTitle = document.getElementById(input + "Text");
		let button = document.getElementById(input + "Button");
		if (inputText.style.display == "none") {
			inputText.value = "";
			inputText.style.display = "block";
			inputTextTitle.style.display = "block";
			button.style.backgroundColor = "#20A64B"
		} else {
			inputText.style.display = "none";
			inputTextTitle.style.display = "none";
			button.style.backgroundColor = "#C00A27";
		}
		showSubmit();
	}
	function copy() {
		let clipboardContents = document.getElementById("clipboard").innerHTML;
		console.log(typeof(clipboardContents));
		let itemsToCopy = document.createElement("textarea");
		document.body.appendChild(itemsToCopy);
		itemsToCopy.value = clipboardContents;
		itemsToCopy.select();
		document.execCommand("copy");
		console.log("copied ");
		document.body.removeChild(itemsToCopy);
		document.getElementById("copyButton").innerHTML = '✔';
	}
	function showSubmit() {
		let btnNames = getBtnNames();
		let active = 0;
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor === "rgb(32, 166, 75)") {
				++active;
				document.getElementById("submitButton").style.display = "block";
			}
		}
		if (active == 0) {
			document.getElementById("submitButton").style.display = "none";
		}		
	}
	function processQuery() {
		let btnNames = getBtnNames();
		let classNames = getClassNames();
		let inputs = {}
		for (let button in classNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor != null) {
				inputs[classNames[button]] = document.getElementById(btnNames[button] + "Input").value;

			}
		}
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", 'api/person', true);
		let MOCKqueryResults;
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var queryResults = this.response
				queryResults = $.parseJSON(queryResults);
				displayResults(queryResults);
				constructClipboard(queryResults);
			}
		};
		xhttp.setRequestHeader('Content-Type', 'application/json');
		xhttp.send(JSON.stringify(inputs));
		
	}
	function displayResults(inputs) {
		//Delete previous table if it exists:
		for (var i = document.getElementById("ResultsTable").rows.length; i > 0; i--) {
			document.getElementById("ResultsTable").deleteRow(i - 1);
		}
		//Display and Construct new table:
		document.getElementById("ResultsContainer").style.display = "block";
		document.getElementById("ResultsHeader").style.display = "block";
		document.getElementById("resultsUnderline").style.display = "block";
		let resultsTable = document.getElementById("ResultsTable");
		let headerTable = resultsTable.createTHead();
		let headerRowTable = resultsTable.insertRow(0);
		if (inputs.length == 0) {
			let curHeaderCell = headerRowTable.insertCell(-1);
			curHeaderCell.innerHTML = "The query failed to return any results";
		} else {
			let headers = Object.keys(inputs[0]);
			for (let i = 0; i < headers.length; ++i) {
				let curHeaderCell = headerRowTable.insertCell(-1);
				curHeaderCell.innerHTML = headers[i];
			}
			for (let record in inputs) {
				let curRecord = inputs[record];
				let recordValues = Object.values(inputs[record]);
				let curRecordRow = resultsTable.insertRow(-1);
				for (let i = 0; i < headers.length - 1; ++i) {
					let curRecordCell = curRecordRow.insertCell(-1);
					curRecordCell.innerHTML = recordValues[i];
				}
			}
		}
	}
	function constructClipboard(queryResult){
		let clipboardContents = "";
		for (let record in queryResult) {
			let curRecord = queryResult[record];
			let recordValues = Object.values(queryResult[record]);
			recordValues.forEach(function (element) {
				clipboardContents = clipboardContents + "\t" + element
			});
			clipboardContents = clipboardContents + "\n";
		}
		console.log(clipboardContents);
		document.getElementById("clipboard").innerHTML = clipboardContents;
	}

</script>