@{
	ViewBag.Title = "Finance";
}

<div class="jumbotron">

	<img src="ICASLogo.png">
	<h1>
		Finance
		<div class="underline"></div>
	</h1>
	<p>Select the criteria for your search: </p>

	<button id="idInputButton" onclick="showInput('idInput')" class="addBtn">ID</button>
	<button id="mkInputButton" onclick="showInput('mkInput')" class="addBtn">Major Key</button>
	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">First Name</button>
	<button id="middlenameInputButton" onclick="showInput('middlenameInput')" class="addBtn">Middle Name</button>
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">Last Name</button>
	<button id="firmidInputButton" onclick="showInput('firmidInput')" class="addBtn">Firm ID</button>
	<button id="firmnameInputButton" onclick="showInput('firmnameInput')" class="addBtn">Firm Name</button>

	<p id="idInputText" class="lead">
		ID:
		<input type="text" id="idInput" class="input-lookup" name="id">
	</p>

	<p id="mkInputText" class="lead">
		Major Key:
		<input type="text" id="mkInput" class="input-lookup" name="mk">
	</p>

	<p id="forenameInputText" class="lead">
		First Name:
		<input type="text" id="forenameInput" class="input-lookup" name="forename">
	</p>

	<p id="middlenameInputText" class="lead">
		Middle Name:
		<input type="text" id="middlenameInput" class="input-lookup" name="middlename">
	</p>

	<p id="surnameInputText" class="lead">
		Last Name:
		<input id="surnameInput" type="text" class="input-lookup" name="surname">
	</p>

	<p id="firmidInputText" class="lead">
		Firm ID:
		<input type="text" id="firmidInput" class="input-lookup" name="firmid">
	</p>

	<p id="firmnameInputText" class="lead">
		Firm Name:
		<input type="text" id="firmnameInput" class="input-lookup" name="firmname">
	</p>
	<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
	<div id="ResultsHeader" class="resultsHeader">
		<h1 id="ResultsHeader">
			Results
			<div id="resultsUnderline" class="underlineResults"></div>
		</h1>
	</div>
	<button id="copyButton" onclick="copy()" class="copyBtn">&#x270E</button>
	<div id="ResultsHeaders"></div>
	<div id="ResultsContainer" class="minotron">
		<table id="ResultsTable">
			<tr></tr>
		</table>
	</div>
	<p id="clipboard" class="clipboard"></p>
</div>
<script src="~/Scripts/moment.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
	//WHEN ADDING A NEW BUTTON ADD THE NAME OF IT HERE \/
	const getBtnNames = () =>["id", "mk", "forename", "middlename", "surname", "firmid", "firmname"];
	//ADD NAME OF NEW FIELD HERE \/
	const getClassNames = () =>["ID", "MAJOR_KEY", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "DESCRIPTION", "TRANSACTION_DATE", "EFFECTIVE_DATE", "PRODUCT_CODE", "ACTIVITY_TYPE", "FUNCTIONAL_TITLE", "STATUS", "INTAKE_YEAR", "TPCE_STUDENT", "TRE_STUDENT", "CONTRACT_START_DATE", "CONTRACT_END_DATE", "FIRM_ID", "FIRM_NAME", "FINAL_CERTIFICATE_DATE", "EXAM_CERTIFICATE_DATE", "BE_PASS", "LOGBOOK_VERIFIED", "LOGBOOK_VERIFIED_DATE", "ITP_STUDENT", "ITP_Passed", "EVENT_ATTENDEES", "TP_Monthly"];

	function showInput(input) {
		let inputText = document.getElementById(input);
		let inputTextTitle = document.getElementById(input + "Text");
		let button = document.getElementById(input + "Button");
		if (inputText.style.display == "none") {
			inputText.value = "";
			inputText.style.display = "block";
			inputTextTitle.style.display = "block";
			button.style.backgroundColor = "#20A64B"
		} else {
			inputText.style.display = "none";
			inputTextTitle.style.display = "none";
			button.style.backgroundColor = "#C00A27";
		}
		showSubmit();
	}
	function copy() {
		let clipboardContents = document.getElementById("clipboard").innerHTML;
		console.log(typeof (clipboardContents));
		let itemsToCopy = document.createElement("textarea");
		document.body.appendChild(itemsToCopy);
		itemsToCopy.value = clipboardContents;
		itemsToCopy.select();
		document.execCommand("copy");
		console.log("copied!");
		document.body.removeChild(itemsToCopy);
		document.getElementById("copyButton").innerHTML = '&#10004';
	}
	function showSubmit() {
		let btnNames = getBtnNames();
		let active = 0;
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor === "rgb(32, 166, 75)") {
				++active;
				document.getElementById("submitButton").style.display = "block";
			}
		}
		if (active == 0) {
			document.getElementById("submitButton").style.display = "none";
		}
	}
	function processQuery() {
		let btnNames = getBtnNames();
		let classNames = getClassNames();
		let inputs = {}
		let dateTypesObjects = $('input[type=date]').map(function () { return this.id; }).get();
		for (let button in classNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor == "rgb(32, 166, 75)") {
				if (dateTypesObjects.includes(btnNames[button] + "input")) {
					inputs[classNames[button]] = moment(document.getElementById(btnNames[button] + "Input").value).format('YYYY-MM-DDT00:00:00');
				}
				else {
					if (btnNames[button] + "Input")
						inputs[classNames[button]] = document.getElementById(btnNames[button] + "Input").value;
				}
			}
		}
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", 'api/person', true);
		let MOCKqueryResults;
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var queryResults = this.response
				queryResults = $.parseJSON(queryResults);
				displayResults(queryResults);
				constructClipboard(queryResults);
			}
		};
		xhttp.setRequestHeader('Content-Type', 'application/json');
		xhttp.send(JSON.stringify(inputs));

	}
	function displayResults(inputs) {
		//Delete previous table if it exists:
		for (var i = document.getElementById("ResultsTable").rows.length; i > 0; i--) {
			document.getElementById("ResultsTable").deleteRow(i - 1);
		}
		//Display and Construct new table:
		document.getElementById("ResultsContainer").style.display = "block";
		document.getElementById("ResultsHeader").style.display = "block";
		document.getElementById("resultsUnderline").style.display = "block";
		document.getElementById("copyButton").innerHTML = '&#x270E';
		document.getElementById("copyButton").style.display = "block";
		let resultsTable = document.getElementById("ResultsTable");
		let headerTable = resultsTable.createTHead();
		let headerRowTable = resultsTable.insertRow(0);
		if (inputs.length == 0) {
			let curHeaderCell = headerRowTable.insertCell(-1);
			curHeaderCell.innerHTML = "The query failed to return any results";
		} else {
			let headers = Object.keys(inputs[0]);
			for (let i = 0; i < headers.length; ++i) {
				let curHeaderCell = headerRowTable.insertCell(-1);
				curHeaderCell.innerHTML = headers[i];
			}
			for (let record in inputs) {
				let curRecord = inputs[record];
				let recordValues = Object.values(inputs[record]);
				let curRecordRow = resultsTable.insertRow(-1);
				for (let i = 0; i < headers.length - 1; ++i) {
					let curRecordCell = curRecordRow.insertCell(-1);
					curRecordCell.innerHTML = recordValues[i];
				}
			}
		}
	}
	function constructClipboard(queryResult) {
		let clipboardContents = "";
		for (let record in queryResult) {
			let curRecord = queryResult[record];
			let recordValues = Object.values(queryResult[record]);
			recordValues.forEach(function (element) {
				clipboardContents = clipboardContents + "\t" + element
			});
			clipboardContents = clipboardContents + "\n";
		}
		console.log(clipboardContents);
		document.getElementById("clipboard").innerHTML = clipboardContents;
	}

</script>