@{
    ViewBag.Title = "Archive Lookup";
}

<div class="jumbotron">
	<img src="ICASLogo.png">
	<h1>
		Archive Lookup
		<div class="underline"></div>
	</h1>
	<p>Select the criteria for your search: </p>
	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">Forename</button>
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">Surname</button>
	<button id="subjectInputButton" onclick="showInput('subjectInput')" class="addBtn">Subject</button>
	<button id="firmInputButton" onclick="showInput('firmInput')" class="addBtn">Firm</button>
	<button id="idInputButton" onclick="showInput('idInput')" class="addBtn">ID</button>

    <p id="forenameInputText" class="lead"> Forename:
	<input type="text" id="forenameInput" class="input-lookup" name="forename">
	</p>

	<p id="surnameInputText" class="lead">Surname:
	<input id = "surnameInput" type="text" class="input-lookup" name="surname">
	</p>

	<p id="subjectInputText" class="lead">Subject:
	<input id="subjectInput" type="text" class="input-lookup" name="subject">
	</p>

	<p id="firmInputText" class="lead">Firm:
	<input id="firmInput" type="text" class="input-lookup" name="id">
	</p>

	<p id="idInputText" class="lead">ID:
	<input type="text" id="idInput" class="input-lookup" name="forename">
	</p>

	<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
	
	<div id="ResultsContainer" class="minotron">
		<h1 id="ResultsHeader">
		Results
		<div id="resultsUnderline" class="underlineResults"></div>
		</h1>
		<table id="ResultsTable" class="resultsTable">
			<tr>
				<th>Forename</th>
				<th>Surname</th>
				<th>Subject</th>
				<th>Firm</th>
				<th>ID</th>
			</tr>
		</table>
	</div>

</div>

<script>
	function showInput(input){
		let inputText = document.getElementById(input);
		let inputTextTitle = document.getElementById(input + "Text");
		let button = document.getElementById(input + "Button");
		if (inputText.style.display == "none") {
			inputText.value = "";
			inputText.style.display = "block";
			inputTextTitle.style.display = "block";
			button.style.backgroundColor = "#20A64B"
		} else {
			inputText.style.display = "none";
			inputTextTitle.style.display = "none";
			button.style.backgroundColor = "#C00A27";
			//button.innerHTML = "+";
		}
		showSubmit();
	}
	function showSubmit() {
		let active = 0;
		if (document.getElementById("forenameInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			active++;
		}
		if (document.getElementById("surnameInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			active++;
		}
		if (document.getElementById("subjectInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			active++;
		}
		if (document.getElementById("firmInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			active++;
		}
		if (document.getElementById("idInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			active++;
		}
		if (active > 0) {
			document.getElementById("submitButton").style.display = "block";
		} else {
			document.getElementById("submitButton").style.display = "none";
		}
	}
	function processQuery() {
		let inputs = {"forename":"","surname":"","subject":"","firm":"","id":""};
		console.log(document.getElementById("forenameInputButton").style.backgroundColor)
		if (document.getElementById("forenameInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			inputs["forename"] = document.getElementById("forenameInput").value;
		}
		if (document.getElementById("surnameInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			inputs["surname"] = document.getElementById("surnameInput").value
		}
		if (document.getElementById("subjectInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			inputs["subject"] = document.getElementById("subjectInput").value
		}
		if (document.getElementById("firmInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			inputs["firm"] = document.getElementById("firmInput").value
		}
		if (document.getElementById("idInputButton").style.backgroundColor === "rgb(32, 166, 75)") {
			inputs["id"] = document.getElementById("idInput").value
		}
		displayResults(inputs);
	}
	function displayResults(inputs) {
		document.getElementById("ResultsContainer").style.display = "block";
		document.getElementById("ResultsHeader").style.display = "block";
		document.getElementById("resultsUnderline").style.display = "block";
		let resultsTable = document.getElementById("ResultsTable")
		resultsTable.style.display = "block";
		let newRow = resultsTable.insertRow(-1);
		let foreName = newRow.insertCell(0);
		let surName = newRow.insertCell(1);
		let subject = newRow.insertCell(2);
		let firm = newRow.insertCell(3);
		let id = newRow.insertCell(4);
		console.log(inputs);
		foreName.innerHTML = inputs["forename"];
		surName.innerHTML = inputs["surname"];
		subject.innerHTML = inputs["subject"];
		firm.innerHTML = inputs["firm"];
		id.innerHTML = inputs["id"];
	}
</script>