@{
    ViewBag.Title = "Archive Lookup";
}

<div class="jumbotron">

	<img src="ICASLogo.png">
	<h1>
		Archive Lookup
		<div class="underline"></div>
	</h1>
	<p>Select the criteria for your search: </p>

	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">Forename</button>
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">Surname</button>
	<button id="emailInputButton" onclick="showInput('emailInput')" class="addBtn">Email</button>
	<button id="firmInputButton" onclick="showInput('firmInput')" class="addBtn">Firm</button>
	<button id="idInputButton" onclick="showInput('idInput')" class="addBtn">ID</button>
	<button id="dateInputButton" onclick="showInput('dateInput')" class="addBtn">Date</button>

    <p id="forenameInputText" class="lead"> Forename:
	<input type="text" id="forenameInput" class="input-lookup" name="forename">
	</p>

	<p id="surnameInputText" class="lead">Surname:
	<input id = "surnameInput" type="text" class="input-lookup" name="surname">
	</p>

	<p id="emailInputText" class="lead">Email:
	<input id="emailInput" type="text" class="input-lookup" name="email">
	</p>

	<p id="firmInputText" class="lead">Firm:
	<input id="firmInput" type="text" class="input-lookup" name="firm">
	</p>

	<p id="idInputText" class="lead">ID:
	<input type="text" id="idInput" class="input-lookup" name="id">
	</p>

	<p id="dateInputText" class="lead">Date:
		<input type="text" id="dateInput" class="input-lookup" name="date">
	</p>

	<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
	
	<div id="ResultsContainer" class="minotron">
		<h1 id="ResultsHeader">
		Results
		<div id="resultsUnderline" class="underlineResults"></div>
		</h1>
		<table id="ResultsTable" class="resultsTable">
			<tr>
				<th>Forename<button id="forenameCopy" onclick="copy('forename')" class="copyBtn">&#x270E</button></th>
				<th>Surname<button id="surnameCopy" onclick="copy('surname')" class="copyBtn">&#x270E</button></th>
				<th>Email<button id="emailCopy" onclick="copy('email')" class="copyBtn">&#x270E</button></th>
				<th>Firm<button id="firmCopy" onclick="copy('firm')" class="copyBtn">&#x270E</button></th>
				<th>ID<button id="idCopy" onclick="copy('id')" class="copyBtn">&#x270E</button></th>
			</tr>
		</table>
	</div>

</div>

<script>
	//WHEN ADDING A NEW BUTTON ADD THE NAME OF IT HERE \/
	function buttonNames() {
		let btnNames = ["forename", "surname", "email", "firm", "id", "date"];
		return btnNames
}
	function showInput(input) {
		let inputText = document.getElementById(input);
		let inputTextTitle = document.getElementById(input + "Text");
		let button = document.getElementById(input + "Button");
		if (inputText.style.display == "none") {
			inputText.value = "";
			inputText.style.display = "block";
			inputTextTitle.style.display = "block";
			button.style.backgroundColor = "#20A64B"
		} else {
			inputText.style.display = "none";
			inputTextTitle.style.display = "none";
			button.style.backgroundColor = "#C00A27";
		}
		showSubmit();
	}
	function copy(item) {
		let itemsToCopy = document.createElement("textToCopy");
		document.body.appendChild(itemsToCopy);
		itemsToCopy.value = "Hedgehogs, why don't they share the hedge?";
		itemsToCopy.select;
		document.execCommand("copy");
		console.log("copied " + item);
		document.body.removeChild(itemsToCopy);
	}
	function showSubmit() {
		let btnNames = buttonNames();
		let active = 0;
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor === "rgb(32, 166, 75)") {
				active++;
				document.getElementById("submitButton").style.display = "block";
			}
		}
		if (active == 0) {
			document.getElementById("submitButton").style.display = "none";
		}		
	}
	function processQuery() {
		let btnNames = buttonNames();
		//using ArchiveLookup.ICAS.com.Models;
		//var newPerson = new PersonQuery;
		//		let btnNames = ["forename", "surname", "email", "firm", "id", "date"];
		/*
		public string ID;
		public string FULL_NAME;
		public string FIRST_NAME;
		public string LAST_FIRST;
		public string COMPANY;
		public string MEMBER_TYPE;
		public string DESCRIPTION;
		public string EMAIL;
		*/
		let classNames = ["FIRST_NAME","LAST_NAME","EMAIL","COMPANY","ID","DESCRIPTION"]
		let inputs = {}
		for (let button in classNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor === "rgb(32, 166, 75)") {
				inputs[classNames[button]] = document.getElementById(btnNames[button] + "Input").value;
			}
		}
/*		var xhttp = new XMLHttpRequest();
		xhttp.open("GET", "/api/person/"+encodeURI(inputs), true);
		xhttp.send();
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				let response = this.reponseText;
				console.log(this.responseText);
			}
		};
		*/
		
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", 'api/person', true);
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				let queryResults = this.responseText;
				console.log(queryResults);
			}
		};
		xhttp.setRequestHeader('Content-Type', 'application/json');
		xhttp.send(JSON.stringify(inputs));
		
		displayResults(inputs);
	}
	function displayResults(inputs) {
		document.getElementById("ResultsContainer").style.display = "block";
		document.getElementById("ResultsHeader").style.display = "block";
		document.getElementById("resultsUnderline").style.display = "block";
	/*
		let resultsTable = document.getElementById("ResultsTable")
		resultsTable.style.display = "block";
		let newRow = resultsTable.insertRow(-1);
		let foreName = newRow.insertCell(0);
		let surName = newRow.insertCell(1);
		let email = newRow.insertCell(2);
		let firm = newRow.insertCell(3);
		let id = newRow.insertCell(4);
		console.log(inputs);
		foreName.innerHTML = inputs["forename"];
		surName.innerHTML = inputs["surname"];
		email.innerHTML = inputs["email"];
		firm.innerHTML = inputs["firm"];
		id.innerHTML = inputs["id"];
		id.innerHTML = inputs["membertype"];
	*/
	}
</script>