@{
    ViewBag.Title = "Query";
}

<div class="jumbotron">
	<img class="ICASlogo" src="ICAS Master Logo_L.png">
    <h1>Archive Lookup</h1>
    <p id="forenameInputText" class="lead"> Forename:
	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">+</button>
	</p>
	<input type="text" id="forenameInput" class="input-lookup" name="forename">
	<p class="lead">Surname:
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">+</button>
	</p>
	<input id = "surnameInput" type="text" class="input-lookup" name="surname">
	<p class="lead">ID:
	<button id="idInputButton" onclick="showInput('idInput')" class="addBtn">+</button>
	</p>
	<input id="idInput" type="text" class="input-lookup" name="id">
	<p class="lead">Subject:
	<button id="subjectInputButton" onclick="showInput('subjectInput')" class="addBtn">+</button>
	</p>
	<input id="subjectInput" type="text" class="input-lookup" name="subject">
	<p><button onClick="sendAlert()" class="btn btn-primary btn-lg">Submit &raquo;</button></p>
</div>

<script>
	function showInput(input){
		var inputText = document.getElementById(input);
		var button = document.getElementById(input + "Button");
		if (inputText.style.display === "none") {
			inputText.style.display = "block";
			button.style.backgroundColor = "red"
			button.innerHTML = "-";
		} else {
			inputText.style.display = "none";
			button.style.backgroundColor = "teal"
			button.innerHTML = "+";
		}
	}
	function sendAlert() {
		alert("Function not implemented");
	}
</script>