@{
	ViewBag.Title = "Concession Query";
}

<div class="jumbotron">

	<img src="ICASLogo.png">
	<h1>
		Concession Query
		<div class="underline"></div>
	</h1>
	<p>Select the criteria for your search: </p>

	<div class="centralFlex">
		<button id="classInputButton" onclick="showInput('classInputButton')" class="addBtn">Class</button>
		<button id="examInputButton" onclick="showInput('examInputButton')" class="addBtn">Exam</button>
	</div>
	
	<p id="sdInputText" class="lead">
		Start Date:
		<input type="date" id="sdInput" class="input-lookup" name="sd">
	</p>

	<p id="edInputText" class="lead">
		End Date:
		<input type="date" id="edInput" class="input-lookup" name="ed">
	</p>

	<p id="claInputText" class="lead">
		Class:
		<input list="classes" id="claInput" class="input-lookup" name="cla">
		<datalist id="classes">
			<option value="TPC">
			<option value="TPS">
			<option value="TPE">
		</datalist>
	</p>

	<div class="copySelectDropdownTPS">
		<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
		<div id="loadingIcon" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
	<div id="ResultsHeader" class="resultsHeader">
		<h1>
			Results
			<div id="resultsUnderline" class="underlineResults"></div>
		</h1>
	</div>

	<div id="StudentsHeader" class="resultsHeader">
		<h2>
			Students<div id="billingUnderline" class="underlineResults"></div>
		</h2>
	</div>
	<div class="copySelectDropdownTPS">
		<button id="StudentscopyButton" onclick="copy('Students')" class="copyBtn">&#x1F4CB</button>
		<button id="StudentscopySelectButton" onclick="showCopyDropdown('Students')" class="copyBtn">+</button>
		<div id="StudentsDropdown" class="copySelectDropdownTPS-content">
			<button id="icascncSCopyButton" onclick="copySelectButton('icascncSCopy', 'Students')" class="addBtnTPS">ICAS CONTACTNUMBERCALC</button>
			<button id="fullnameSCopyButton" onclick="copySelectButton('fullnameSCopy', 'Students')" class="addBtnTPS">FULL NAME</button>
			<button id="workcitySCopyButton" onclick="copySelectButton('workcitySCopy', 'Students')" class="addBtnTPS">WORK CITY</button>
			<button id="homecitySCopyButton" onclick="copySelectButton('homecitySCopy', 'Students')" class="addBtnTPS">HOME CITY</button>
			<button id="companynameSCopyButton" onclick="copySelectButton('companynameSCopy', 'Students')" class="addBtnTPS">COMPANY NAME</button>
			<button id="customertypeSCopyButton" onclick="copySelectButton('customertypeSCopy', 'Students')" class="addBtnTPS">CUSTOMER TYPE</button>
			<button id="tpssubjSCopyButton" onclick="copySelectButton('tpssubjSCopy', 'Students')" class="addBtnTPS">TPS SUBJECT</button>
			<button id="concawardSCopyButton" onclick="copySelectButton('concawardSCopy', 'Students')" class="addBtnTPS">CONCESSION AWARDED</button>
			<button id="icassdSCopyButton" onclick="copySelectButton('icassdSCopy', 'Students')" class="addBtnTPS">ICAS STARTDATE</button>
			<button id="icasstSCopyButton" onclick="copySelectButton('icasstSCopy', 'Students')" class="addBtnTPS">ICAS STARTTIME</button>
		</div>
	</div>
	<div id="StudentsContainer" class="minotron">
		<table id="StudentsResultsTable" class="resultsTable">
			<tr></tr>
		</table>
	</div>
	<p id="clipboard" class="clipboard"></p>
	<p id="queryResults" class="queryResults"></p>
	<p id="queriesLoaded" class="queryResults"></p>
</div>
<script src="~/Scripts/moment.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/lodashCore.js" type="text/javascript"></script>
<script>
	const getBtnNames		= () => ["class", "exam"];
	const getFieldNames		= () => ["sd", "ed", "cla"];
	const getClassNames		= () => ["START_DATE", "END_DATE", "CLASS"];
	const getCopyBtnNames	= () => ["icascncS", "fullnameS", "workcityS", "homecityS", "companynameS", "customertypeS", "tpssubjS", "concawardS", "icassdS", "icasstS"];
	function getCopyFields(query) {
		switch (query) {
			case "class": return ["ICAS_CONTACTNUMBERCALC", "FULLNAME", "WORK_CITY", "HOME_CITY", "COMPANY_NAME", "CUSTOMER_TYPE", "TPS_SUBJECT", "CONCESSION_AWARDED", "ICAS_STARTDATE"];
			case "exam": return ["ICAS_CONTACTNUMBERCALC", "FULLNAME", "WORK_CITY", "HOME_CITY", "COMPANY_NAME", "CUSTOMER_TYPE", "TPS_SUBJECT", "CONCESSION_AWARDED", "ICAS_STARTTIME"];
			default: return ["ICAS_CONTACTNUMBERCALC", "FULLNAME", "WORK_CITY", "HOME_CITY", "COMPANY_NAME", "CUSTOMER_TYPE", "TPS_SUBJECT", "CONCESSION_AWARDED", "ICAS_STARTDATE"];
		}
	}
	function showInput(type) {
		inputs = ["sdInput", "edInput", "claInput"];
		let inputText = "";
		let inputTextTitle = "";
		let otherButton = "";
		let displayValue = "";
		switch (type) {
			case "classInputButton": otherButton = "examInputButton"; break;
			case "examInputButton": otherButton = "classInputButton"; break;
			default: otherButton = "classInputButton"; break;
		}
		document.getElementById(otherButton).style.backgroundColor = "#C00A27";
		document.getElementById(type).style.backgroundColor = "#20A64B"
		if (document.getElementById(type).style.display != "none" && document.getElementById(otherButton).style.display != "none") {
			displayValue = "block";
		} else {
			displayValue = "none";
		}
		inputs.forEach(function (input) {
			inputText = document.getElementById(input);
			inputTextTitle = document.getElementById(input + "Text");
			inputText.value = "";
			inputText.style.display = displayValue;
			inputTextTitle.style.display = displayValue;
		});
		showSubmit();
	}
	function showSubmit() {
		let btnNames = getBtnNames();
		let active = 0;
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor === "rgb(32, 166, 75)") {
				++active;
				document.getElementById("submitButton").style.display = "block";
			}
		}
		if (active == 0) {
			document.getElementById("submitButton").style.display = "none";
		}
	}
	function copy(table) {
		let queryNames = getBtnNames(table);
		let chosenButton = "";
		queryNames.forEach(function (btn) {
			if (document.getElementById(btn + "InputButton").style.backgroundColor == "rgb(32, 166, 75)") {
				chosenButton = btn;
			}
		});
		let btnNames = getCopyBtnNames();
		let classNames = getCopyFields(chosenButton);
		let chosenFields = [];
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "CopyButton").style.backgroundColor == "rgb(32, 166, 75)") {
				chosenFields.push(classNames[button]);
			}
		}
		if (chosenFields.length == 0) {
			chosenFields = classNames;
		}
		console.log(chosenFields);
		constructClipboard(chosenFields);
		let clipboardContents = document.getElementById("clipboard").innerHTML;
		let itemsToCopy = document.createElement("textarea");
		document.body.appendChild(itemsToCopy);
		itemsToCopy.value = clipboardContents;
		itemsToCopy.select();
		document.execCommand("copy");
		console.log("copied!");
		document.body.removeChild(itemsToCopy);
		document.getElementById(table+"copyButton").innerHTML = '&#10004';
	}
	function copySelectButton(buttonID, table) {
		currentColour = document.getElementById(buttonID + "Button").style.backgroundColor;
		document.getElementById(table+"copyButton").innerHTML = '&#x1F4CB';
		if (currentColour == "rgb(192, 10, 39)" || currentColour == "") {
			document.getElementById(buttonID + "Button").style.backgroundColor = "#20A64B";
		}
		else {
			document.getElementById(buttonID + "Button").style.backgroundColor = "#C00A27";
		}
	}
	function showCopyDropdown(table) {
		document.getElementById(table+"Dropdown").classList.toggle("show");
	}
	function processQuery() {
		let chosenButton = "";
		document.getElementById("loadingIcon").style.display = "block";
		document.getElementById("queriesLoaded").innerHTML = 0;
		let btnNames = getBtnNames();
		let fieldNames = getFieldNames();
		let classNames = getClassNames();
		btnNames.forEach(function (btn) {
			if (document.getElementById(btn + "InputButton").style.backgroundColor == "rgb(32, 166, 75)") {
				chosenButton = btn;
			}
		});

		let inputs = {}
		let dateTypesObjects = $('input[type=date]').map(function () { return this.id; }).get();
		for (let button in fieldNames) {
			if (dateTypesObjects.includes(fieldNames[button] + "input")) {
				inputs[classNames[button]] = moment(document.getElementById(fieldNames[button] + "Input").value).format('YYYY-MM-DDT00:00:00');
			}
			else {
				if (fieldNames[button] + "Input")
				inputs[classNames[button]] = document.getElementById(fieldNames[button] + "Input").value;
			}
		}
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", 'api/Tps'+chosenButton, true);
		let MOCKqueryResults;
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var queryResults = this.response
				queryResults = $.parseJSON(queryResults);
				document.getElementById("queriesLoaded").innerHTML = document.getElementById("queriesLoaded").innerHTML + 1
				displayResults(queryResults, chosenButton);
				document.getElementById("queryResults").innerHTML = JSON.stringify(queryResults);
			}
		};
		xhttp.setRequestHeader('Content-Type', 'application/json');
		xhttp.send(JSON.stringify(inputs));
	}
	function displayResults(inputs, query) {
		document.getElementById("loadingIcon").style.display = "none";
		//Delete previous table if it exists:
		tableDemolisherAndDisplayer("Students");
		tableBuilder(inputs, "StudentsResultsTable", getCopyFields(query))
	}
	function tableDemolisherAndDisplayer(tableName) {
		//Demolisher
		for (var i = document.getElementById(tableName + "ResultsTable").rows.length; i > 0; i--) {
			document.getElementById(tableName + "ResultsTable").deleteRow(i - 1);
		}
		//Displayer
		document.getElementById(tableName + "Container").style.display = "block";
		document.getElementById(tableName + "Header").style.display = "block";
		document.getElementById(tableName + "copyButton").innerHTML = '&#x1F4CB';
		document.getElementById(tableName + "copyButton").style.display = 'block';
		document.getElementById(tableName + "copySelectButton").style.display = "block";
	}
	function tableBuilder(queryResults, tableName, headers) {
		let table = document.getElementById(tableName);
		let headerTable = table.createTHead();
		let headerRowTable = table.insertRow(0);
		if (queryResults.length == 0) {
			let curHeaderCell = headerRowTable.insertCell(-1);
			curHeaderCell.innerHTML = "The query failed to return any results";
		}
		else {
			let tableHeaders = Object.keys(queryResults[0]).filter(word => headers.includes(word));
			let discardedHeaders = Object.keys(queryResults[0]).filter(word => !headers.includes(word));
			for (let i = 0; i < tableHeaders.length; ++i) {
				let curHeaderCell = headerRowTable.insertCell(-1);
				curHeaderCell.innerHTML = tableHeaders[i].replace(/_/g, " ");
			}
			let newInputs = [];
			for (let record in queryResults) {
				//NEED TO DELETE THIS FIELD WITHOUT DELEING GLOBAL INPUTS
				//THERE IS A BETTER WAY TO DO THIS
				let newRecord = {};
				tableHeaders.forEach(function (header) {
					let curRecord = queryResults[record];
					newRecord[header] = curRecord[header];
				});
				let recordsEqual = newInputs.map(curRecord => _.isEqual(newRecord, curRecord));
				if (!recordsEqual.includes(true)) {
					newInputs.push(newRecord);
				}
			}
			for (let record in newInputs) {
				let curRecord = newInputs[record];
				let recordValues = Object.values(newInputs[record]);
				let curRecordRow = table.insertRow(-1);
				for (let i = 0; i < tableHeaders.length; ++i) {
					let curRecordCell = curRecordRow.insertCell(-1);
					curRecordCell.innerHTML = recordValues[i];
				}
			}
		}
	}
	function constructClipboard(chosenFields) {
		let queryResults = JSON.parse(document.getElementById("queryResults").innerHTML);
		let clipboardContents = "";
		for (let curRecord in queryResults) {
			let record = queryResults[curRecord];
			for (let chosenField in chosenFields) {
				console.log(JSON.stringify(record[chosenFields[chosenField]]));
				if (record[chosenFields[chosenField]] != null){
					if (record[chosenFields[chosenField]].includes("\r")) {
						clipboardContents += "\t" + record[chosenFields[chosenField]].replace(/\r/g, ", ");
					} else {
						clipboardContents += "\t" + record[chosenFields[chosenField]];
					}
				} else {
					clipboardContents += "\t";
				}
			}
			clipboardContents += "\n";
		}
		document.getElementById("clipboard").innerHTML = clipboardContents;
	}

</script>