@{
	ViewBag.Title = "Examinations";
}

<div class="jumbotron">

	<h1>
		Exam Lookup
	</h1>
	<p>Select the criteria for your search: </p>

	<button id="mkInputButton" onclick="showInput('mkInput')" class="addBtn">Member No.</button>
	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">First Name</button>
	<button id="middlenameInputButton" onclick="showInput('middlenameInput')" class="addBtn">Middle Name</button>
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">Last Name</button>
	<button id="firmnoInputButton" onclick="showInput('firmnoInput')" class="addBtn">Firm No.</button>
	<button id="firmnameInputButton" onclick="showInput('firmnameInput')" class="addBtn">Firm Name</button>
	<button id="studentidInputButton" onclick="showInput('studentidInput')" class="addBtn">Student ID</button>

	<p id="idInputText" class="lead">
		ID:
		<input type="text" id="idInput" class="input-lookup" name="id">
	</p>

	<p id="mkInputText" class="lead">
		Member No.:
		<input type="text" id="mkInput" class="input-lookup" name="mk">
	</p>

	<p id="forenameInputText" class="lead">
		First Name:
		<input type="text" id="forenameInput" class="input-lookup" name="forename">
	</p>

	<p id="middlenameInputText" class="lead">
		Middle Name:
		<input type="text" id="middlenameInput" class="input-lookup" name="middlename">
	</p>

	<p id="surnameInputText" class="lead">
		Last Name:
		<input id="surnameInput" type="text" class="input-lookup" name="surname">
	</p>

	<p id="firmnoInputText" class="lead">
		Firm No:
		<input type="text" id="firmnoInput" class="input-lookup" name="firmno">
	</p>

	<p id="firmnameInputText" class="lead">
		Firm Name:
		<input type="text" id="firmnameInput" class="input-lookup" name="firmname">
	</p>

	<p id="studentidInputText" class="lead">
		Student ID:
		<input type="text" id="studentidInput" class="input-lookup" name="studentid">
	</p>
	<div class="copySelectDropdown">
		<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
		<div id="loadingIcon" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
	<div id="tabBar" class="tab">
		<button class="tablinks" onclick="changeTab(event, 'Students')">Students</button>
		<button class="tablinks" onclick="changeTab(event, 'Activity')">Activity</button>
		<button class="tablinks" onclick="changeTab(event, 'Exams')">Exams</button>
		<button class="tablinks" onclick="changeTab(event, 'Disabilities')">Disabilities</button>
	</div>

	<div id="Students" class="tabcontent">
		<div class="copySelectDropdown">
			<button id="StudentscopyButton" onclick="copy('Students')" class="copyBtn">&#x1F4CB</button>
			<button id="StudentscopySelectButton" onclick="showCopyDropdown('Students')" class="copyBtn">+</button>
			<div id="StudentsDropdown" class="copySelectDropdown-content">
				<button id="mkSCopyButton" onclick="copySelectButton('mkSCopy', 'Students')" class="addBtn">Member No.</button>
				<button id="studentidSCopyButton" onclick="copySelectButton('studentidSCopy', 'Students')" class="addBtn">Student ID</button>
				<button id="forenameSCopyButton" onclick="copySelectButton('forenameSCopy', 'Students')" class="addBtn">First Name</button>
				<button id="middlenameSCopyButton" onclick="copySelectButton('middlenameSCopy', 'Students')" class="addBtn">Middle Name</button>
				<button id="surnameSCopyButton" onclick="copySelectButton('surnameSCopy', 'Students')" class="addBtn">Last Name</button>
				<button id="citySCopyButton" onclick="copySelectButton('citySCopy', 'Students')" class="addBtn">City</button>
				<button id="zipSCopyButton" onclick="copySelectButton('zipSCopy', 'Students')" class="addBtn">Zip</button>
				<button id="countySCopyButton" onclick="copySelectButton('countySCopy', 'Students')" class="addBtn">County</button>
				<button id="routecodeSCopyButton" onclick="copySelectButton('routecodeSCopy', 'Students')" class="addBtn">Route Code</button>
				<button id="routesubcodeSCopyButton" onclick="copySelectButton('routesubcodeSCopy', 'Students')" class="addBtn">Route Sub Code</button>
				<button id="firmnameSCopyButton" onclick="copySelectButton('firmnameSCopy', 'Students')" class="addBtn">Firm Name</button>
				<button id="firmnoSCopyButton" onclick="copySelectButton('firmnoSCopy', 'Students')" class="addBtn">Main Firm No</button>
			</div>
		</div>
		<div id="StudentsContainer" class="minotron">
			<table id="StudentsResultsTable" class="resultsTable">
				<tr></tr>
			</table>
		</div>
	</div>

	<div id="Activity" class="tabcontent">
		<div class="copySelectDropdown">
			<button id="ActivitycopyButton" onclick="copy('Activity')" class="copyBtn">&#x1F4CB</button>
			<button id="ActivitycopySelectButton" onclick="showCopyDropdown('Activity')" class="copyBtn">+</button>
			<div id="ActivityDropdown" class="copySelectDropdown-content">
				<button id="mkACopyButton" onclick="copySelectButton('mkACopy', 'Activity')" class="addBtn">Member No.</button>
				<button id="transACopyButton" onclick="copySelectButton('transACopy', 'Activity')" class="addBtn">Transaction Date</button>
				<button id="descACopyButton" onclick="copySelectButton('descACopy', 'Activity')" class="addBtn">Description</button>
				<button id="productcodeACopyButton" onclick="copySelectButton('productcodeACopy', 'Activity')" class="addBtn">Product Code</button>
				<button id="typeACopyButton" onclick="copySelectButton('typeACopy', 'Activity')" class="addBtn">Activity Type</button>
				<button id="noteACopyButton" onclick="copySelectButton('noteACopy', 'Activity')" class="addBtn">Note</button>
				<button id="thrudateACopyButton" onclick="copySelectButton('thrudateACopy', 'Activity')" class="addBtn">Thru Date</button>
				<button id="amountACopyButton" onclick="copySelectButton('amountACopy', 'Activity')" class="addBtn">Amount</button>
				<button id="unitACopyButton" onclick="copySelectButton('unitACopy', 'Activity')" class="addBtn">Unit</button>
			</div>
		</div>
		<div id="ActivityContainer" class="minotron">
			<table id="ActivityResultsTable" class="resultsTable">
				<tr></tr>
			</table>
		</div>
	</div>

	<div id="Exams" class="tabcontent">
		<div class="copySelectDropdown">
			<button id="ExamscopyButton" onclick="copy('Exams')" class="copyBtn">&#x1F4CB</button>
			<button id="ExamscopySelectButton" onclick="showCopyDropdown('Exams')" class="copyBtn">+</button>
			<div id="ExamsDropdown" class="copySelectDropdown-content">
				<button id="mkECopyButton" onclick="copySelectButton('mkECopy', 'Exams')" class="addBtn">Member No.</button>
				<button id="statusECopyButton" onclick="copySelectButton('statusECopy', 'Exams')" class="addBtn">status</button>
				<button id="gradeECopyButton" onclick="copySelectButton('gradeECopy', 'Exams')" class="addBtn">Grade</button>
				<button id="programECopyButton" onclick="copySelectButton('programECopy', 'Exams')" class="addBtn">Program</button>
				<button id="regitemECopyButton" onclick="copySelectButton('regitemECopy', 'Exams')" class="addBtn">Registration Item</button>
				<button id="titleECopyButton" onclick="copySelectButton('titleECopy', 'Exams')" class="addBtn">Title</button>
				<button id="classyearECopyButton" onclick="copySelectButton('classyearECopy', 'Exams')" class="addBtn">Class Year</button>
				<button id="groupECopyButton" onclick="copySelectButton('groupECopy', 'Exams')" class="addBtn">Group</button>
				<button id="notesECopyButton" onclick="copySelectButton('notesECopy', 'Exams')" class="addBtn">Notes</button>
				<button id="locationECopyButton" onclick="copySelectButton('locationECopy', 'Exams')" class="addBtn">Location</button>
				<button id="enrolleddateECopyButton" onclick="copySelectButton('enrolleddateECopy', 'Exams')" class="addBtn">Enrolled Date</button>
			</div>
		</div>
		<div id="ExamsContainer" class="minotron">
			<table id="ExamsResultsTable" class="resultsTable">
				<tr></tr>
			</table>
		</div>
	</div>

	<div id="Disabilities" class="tabcontent">
		<div class="copySelectDropdown">
			<button id="DisabilitiescopyButton" onclick="copy('Disabilities')" class="copyBtn">&#x1F4CB</button>
			<button id="DisabilitiescopySelectButton" onclick="showCopyDropdown('Disabilities')" class="copyBtn">+</button>
			<div id="DisabilitiesDropdown" class="copySelectDropdown-content">
				<button id="mkDCopyButton" onclick="copySelectButton('mkDCopy', 'Disabilities')" class="addBtn">Member No.</button>
				<button id="typeDCopyButton" onclick="copySelectButton('typeDCopy', 'Disabilities')" class="addBtn">Type</button>
				<button id="allowanceDCopyButton" onclick="copySelectButton('allowanceDCopy', 'Disabilities')" class="addBtn">Allowance</button>
				<button id="actionDCopyButton" onclick="copySelectButton('actionDCopy', 'Disabilities')" class="addBtn">Action</button>
				<button id="allowance2DCopyButton" onclick="copySelectButton('allowance2DCopy', 'Disabilities')" class="addBtn">Allowance 2</button>
				<button id="action2DCopyButton" onclick="copySelectButton('action2DCopy', 'Disabilities')" class="addBtn">Action 2</button>
				<button id="allowance3DCopyButton" onclick="copySelectButton('allowance3DCopy', 'Disabilities')" class="addBtn">Allowance 3</button>
				<button id="action3DCopyButton" onclick="copySelectButton('action3DCopy', 'Disabilities')" class="addBtn">Action 3</button>
				<button id="allowance4DCopyButton" onclick="copySelectButton('allowance4DCopy', 'Disabilities')" class="addBtn">Allowance 4</button>
				<button id="action4DCopyButton" onclick="copySelectButton('action4DCopy', 'Disabilities')" class="addBtn">Action 4</button>
			</div>
		</div>
		<div id="DisabilitiesContainer" class="minotron">
			<table id="DisabilitiesResultsTable" class="resultsTable">
				<tr></tr>
			</table>
		</div>
	</div>

	<p id="clipboard" class="clipboard"></p>
	<p id="queryResults" class="queryResults"></p>
	<p id="queriesLoaded" class="queryResults"></p>
</div>
<script src="~/Scripts/moment.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/lodashCore.js" type="text/javascript"></script>
<script src="~/Scripts/common.js" type="text/javascript"></script>
<script>
	const getBtnNames = () =>["mk", "forename", "middlename", "surname", "firmno", "firmname", "studentid"];
	const getClassNames = () =>["MAJOR_KEY", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "MAIN_FIRM_NO", "FIRM_NAME", "STUDENT_ID"];
	function getCopyBtnNames(table) {
		switch (table) {
			case "Activity": return ["mkA", "transA", "descA", "productcodeA", "typeA", "noteA", "thrudateA", "amountA", "unitA"];
			case "Students": return ["mkS","studentidS", "forenameS", "middlenameS","surnameS", "cityS", "zipS", "countyS", "routecodeS", "routesubcodeS", "firmnameS", "firmnoS"];
			case "Exams": return ["mkE", "statusE", "gradeE", "programE", "regitemE","titleE", "classyearE", "groupE", "notesE", "locationE", "enrolleddateE"];
			case "Disabilities": return ["mkD", "typeD", "allowanceD", "actionD", "allowance2D", "action2D", "allowance3D", "action3D", "allowance4D", "action4D"];
				defualt: return [];
			}
	}
	function getCopyFields(table) {
		switch (table) {
			case "Activity": return ["MEMBER_NO", "TRANSACTION_DATE", "DESCRIPTION", "PRODUCT_CODE", "ACTIVITY_TYPE", "NOTE", "THRU_DATE", "AMOUNT", "UNITS"];
			case "Students": return ["MEMBER_NO", "STUDENT_ID", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "CITY", "ZIP", "COUNTY", "ROUTE_CODE", "ROUTE_SUB_CODE", "FULL_ADDRESS", "FIRM_NAME", "MAIN_FIRM_NO"];
			case "Exams": return ["MEMBER_NO", "STATUS", "GRADE", "PROGRAM", "REGISTRATION_ITEM", "TITLE", "CLASS_YEAR", "GROUP", "NOTES", "LOCATION", "ENROLLED_DATE"]
			case "Disabilities": return ["MEMBER_NO", "TYPE", "ALLOWANCE", "ACTION", "ALLOWANCE_2", "ACTION_2", "ALLOWANCE_3", "ACTION_3", "ALLOWANCE_4", "ACTION_4"];
				defualt: return [];
		}
	}
	function processQuery() {
		document.getElementById("loadingIcon").style.display = "block";
		document.getElementById("tabBar").style.display = "block";
		document.getElementById("queriesLoaded").innerHTML = 0;
		let btnNames = getBtnNames();
		let classNames = getClassNames();
		let inputs = {}
		let dateTypesObjects = $('input[type=date]').map(function () { return this.id; }).get();
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor == "rgb(32, 166, 75)") {
				if (dateTypesObjects.includes(btnNames[button] + "input")) {
					inputs[classNames[button]] = moment(document.getElementById(btnNames[button] + "Input").value).format('YYYY-MM-DDT00:00:00');
				}
				else {
					if (btnNames[button] + "Input")
					inputs[classNames[button]] = document.getElementById(btnNames[button] + "Input").value;
				}
			}
		}
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", 'api/exam', true);
		let MOCKqueryResults;
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var queryResults = this.response
				queryResults = $.parseJSON(queryResults);
				document.getElementById("queriesLoaded").innerHTML = document.getElementById("queriesLoaded").innerHTML + 1
				displayResults(queryResults);
				document.getElementById("queryResults").innerHTML = JSON.stringify(queryResults);
			}
		};
		xhttp.setRequestHeader('Content-Type', 'application/json');
		xhttp.send(JSON.stringify(inputs));

	}
	function displayResults(inputs) {
		document.getElementById("loadingIcon").style.display = "none";
		//Delete previous table if it exists:
		tableDemolisherAndDisplayer("Students");
		tableDemolisherAndDisplayer("Exams");
		tableDemolisherAndDisplayer("Activity");
		tableDemolisherAndDisplayer("Disabilities");

		tableBuilder(inputs, "StudentsResultsTable", ["MEMBER_NO", "STUDENT_ID", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "MAIN_FIRM_NO", "FIRM_NAME", "CITY", "COUNTY", "ZIP", "ROUTE_CODE", "ROUTE_SUB_CODE"])
		tableBuilder(inputs, "ActivityResultsTable", ["TRANSACTION_DATE", "MEMBER_NO", "ACTIVITY_TYPE", "PRODUCT_CODE", "DESCRIPTION", "NOTE", "THRU_DATE", "AMOUNT", "UNITS"]);
		tableBuilder(inputs, "ExamsResultsTable", ["MEMBER_NO", "STATUS", "REGISTRATION_ITEM", "TITLE", "LOCATION", "GRADE", "ENROLLED_DATE", "CLASS_YEAR", "PROGRAM", "GROUP", "NOTES"]);
		tableBuilder(inputs, "DisabilitiesResultsTable", ["MEMBER_NO", "TYPE", "ALLOWANCE", "ACTION", "ALLOWANCE_2", "ACTION_2", "ALLOWANCE_3", "ACTION_3", "ALLOWANCE_4", "ACTION_4"])
	}
</script>