@{
	ViewBag.Title = "Legal";
}

<div class="jumbotron">

	<h1>
		Legal Lookup
		<div class="underline"></div>
	</h1>
	<p>Select the criteria for your search: </p>

	<button id="mkInputButton" onclick="showInput('mkInput')" class="addBtn">Major Key</button>
	<button id="forenameInputButton" onclick="showInput('forenameInput')" class="addBtn">First Name</button>
	<button id="middlenameInputButton" onclick="showInput('middlenameInput')" class="addBtn">Middle Name</button>
	<button id="surnameInputButton" onclick="showInput('surnameInput')" class="addBtn">Last Name</button>
	<button id="firmidInputButton" onclick="showInput('firmidInput')" class="addBtn">Firm ID</button>
	<button id="firmnoInputButton" onclick="showInput('firmnoInput')" class="addBtn">Firm No.</button>
	<button id="firmnameInputButton" onclick="showInput('firmnameInput')" class="addBtn">Firm Name</button>
	<button id="companynameInputButton" onclick="showInput('companynameInput')" class="addBtn">Company Name</button>

	<p id="idInputText" class="lead">
		ID:
		<input type="text" id="idInput" class="input-lookup" name="id">
	</p>

	<p id="mkInputText" class="lead">
		Major Key:
		<input type="text" id="mkInput" class="input-lookup" name="mk">
	</p>

	<p id="forenameInputText" class="lead">
		First Name:
		<input type="text" id="forenameInput" class="input-lookup" name="forename">
	</p>

	<p id="middlenameInputText" class="lead">
		Middle Name:
		<input type="text" id="middlenameInput" class="input-lookup" name="middlename">
	</p>

	<p id="surnameInputText" class="lead">
		Last Name:
		<input id="surnameInput" type="text" class="input-lookup" name="surname">
	</p>

	<p id="firmidInputText" class="lead">
		Firm ID:
		<input type="text" id="firmidInput" class="input-lookup" name="firmid">
	</p>

	<p id="firmnoInputText" class="lead">
		Firm No:
		<input type="text" id="firmnoInput" class="input-lookup" name="firmno">
	</p>

	<p id="firmnameInputText" class="lead">
		Firm Name:
		<input type="text" id="firmnameInput" class="input-lookup" name="firmname">
	</p>

	<p id="companynameInputText" class="lead">
		Company Name:
		<input type="text" id="companynameInput" class="input-lookup" name="companyname">
	</p>
	<div class="copySelectDropdown">
		<p><button id="submitButton" onClick="processQuery()" class="btn btn-primary btn-lg">Submit</button></p>
		<div id="loadingIcon" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
	</div>
	<div id="ResultsHeader" class="resultsHeader">
		<h1>
			Results
			<div id="resultsUnderline" class="underlineResults"></div>
		</h1>
	</div>

	<div id="CustomersHeader" class="resultsHeader">
		<h2>
			Customers<div id="billingUnderline" class="underlineResults"></div>
		</h2>
	</div>
	<div class="copySelectDropdown">
		<button id="CustomerscopyButton" onclick="copy('Customers')" class="copyBtn">&#x1F4CB</button>
		<button id="CustomerscopySelectButton" onclick="showCopyDropdown('Customers')" class="copyBtn">+</button>
		<div id="CustomersDropdown" class="copySelectDropdown-content">
			<button id="mkCCopyButton" onclick="copySelectButton('mkCCopy', 'Customers')" class="addBtn">Major Key</button>
			<button id="surnameCCopyButton" onclick="copySelectButton('surnameCCopy', 'Customers')" class="addBtn">Last Name</button>
			<button id="forenameCCopyButton" onclick="copySelectButton('forenameCCopy', 'Customers')" class="addBtn">First Name</button>
			<button id="middlenameCCopyButton" onclick="copySelectButton('middlenameCCopy', 'Customers')" class="addBtn">Middle Name</button>
			<button id="mtCCopyButton" onclick="copySelectButton('mtCCopy', 'Customers')" class="addBtn">Member Type</button>
			<button id="catCCopyButton" onclick="copySelectButton('catCCopy', 'Customers')" class="addBtn">Category</button>
			<button id="titleCCopyButton" onclick="copySelectButton('titleCCopy', 'Customers')" class="addBtn">Title</button>
			<button id="cityCCopyButton" onclick="copySelectButton('cityCCopy', 'Customers')" class="addBtn">City</button>
			<button id="countyCCopyButton" onclick="copySelectButton('countyCCopy', 'Customers')" class="addBtn">County</button>
			<button id="compsortCCopyButton" onclick="copySelectButton('compsortCCopy', 'Customers')" class="addBtn">Company Sort</button>
			<button id="addrCCopyButton" onclick="copySelectButton('addrCCopy', 'Customers')" class="addBtn">Full Address</button>
			<button id="firmnoCCopyButton" onclick="copySelectButton('firmnoCCopy', 'Customers')" class="addBtn">Main Firm No</button>
		</div>
	</div>
	<div id="CustomersContainer" class="minotron">
		<table id="CustomersResultsTable" class="resultsTable">
			<tr></tr>
		</table>
	</div>

	<div id="ActivityHeader" class="resultsHeader">
		<h2>
			Activity
			<div id="ActivityUnderline" class="underlineResults"></div>
		</h2>
	</div>
	<div class="copySelectDropdown">
		<button id="ActivitycopyButton" onclick="copy('Activity')" class="copyBtn">&#x1F4CB</button>
		<button id="ActivitycopySelectButton" onclick="showCopyDropdown('Activity')" class="copyBtn">+</button>
		<div id="ActivityDropdown" class="copySelectDropdown-content">
			<button id="mkACopyButton" onclick="copySelectButton('mkACopy', 'Activity')" class="addBtn">Major Key</button>
			<button id="transACopyButton" onclick="copySelectButton('transACopy', 'Activity')" class="addBtn">Transaction Date</button>
			<button id="typeACopyButton" onclick="copySelectButton('typeACopy', 'Activity')" class="addBtn">Activity Type</button>
			<button id="forenameACopyButton" onclick="copySelectButton('forenameACopy', 'Activity')" class="addBtn">First Name</button>
			<button id="middlenameACopyButton" onclick="copySelectButton('middlenameACopy', 'Activity')" class="addBtn">Middle Name</button>
			<button id="surnameACopyButton" onclick="copySelectButton('surnameACopy', 'Activity')" class="addBtn">Last Name</button>
			<button id="descACopyButton" onclick="copySelectButton('descACopy', 'Activity')" class="addBtn">Description</button>
		</div>
	</div>
	<div id="ActivityContainer" class="minotron">
		<table id="ActivityResultsTable" class="resultsTable">
			<tr></tr>
		</table>
	</div>

	<div id="CustomerNotesHeader" class="resultsHeader">
		<h2>
			Customer Notes<div id="CustomerNotesUnderline" class="underlineResults"></div>
		</h2>
	</div>
	<div class="copySelectDropdown">
		<button id="CustomerNotescopyButton" onclick="copy('CustomerNotes')" class="copyBtn">&#x1F4CB</button>
		<button id="CustomerNotescopySelectButton" onclick="showCopyDropdown('CustomerNotes')" class="copyBtn">+</button>
		<div id="CustomerNotesDropdown" class="copySelectDropdown-content">
			<button id="mkCNCopyButton" onclick="copySelectButton('mkCNCopy', 'CustomerNotes')" class="addBtn">Major Key</button>
			<button id="lastfirstCNCopyButton" onclick="copySelectButton('lastfirstCNCopy', 'CustomerNotes')" class="addBtn">Last First</button>
			<button id="middlenameCNCopyButton" onclick="copySelectButton('middlenameCNCopy', 'CustomerNotes')" class="addBtn">Middle Name</button>
			<button id="commentsCNCopyButton" onclick="copySelectButton('commentsCNCopy', 'CustomerNotes')" class="addBtn">Comments</button>
		</div>
	</div>
	<div id="CustomerNotesContainer" class="minotron">
		<table id="CustomerNotesResultsTable" class="resultsTable">
			<tr></tr>
		</table>
	</div>
	<p id="clipboard" class="clipboard"></p>
	<p id="queryResults" class="queryResults"></p>
	<p id="queriesLoaded" class="queryResults"></p>
</div>
<script src="~/Scripts/moment.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="~/Scripts/lodashCore.js" type="text/javascript"></script>
<script>
	const getBtnNames = () =>["mk", "forename", "middlename", "surname", "firmid", "firmno", "firmname", "companyname"];
	const getClassNames = () =>["MAJOR_KEY", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "FIRM_ID", "MAIN_FIRM_NO", "FIRM_NAME", "Company"];
	function getCopyBtnNames(table) {
		switch (table) {
			case "Activity": return ["mkA", "transA", "typeA", "forenameA", "middlenameA", "surnameA", "descA"];
			case "Customers": return ["mkC", "surnameC", "forenameC", "middlenameC", "mtC", "catC", "titleC", "cityC", "countyC", "compsortC", "addrC", "firmnoC"];
			case "CustomerNotes": return ["mkCN", "lastfirstCN", "middlenameCN", "commentsCN"];
				defualt: return [];
			}
	}
	function getCopyFields(table) {
		switch (table) {
			case "Activity": return ["MAJOR_KEY", "TRANSACTION_DATE", "ACTIVITY_TYPE", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "DESCRIPTION"];
			case "Customers": return ["MAJOR_KEY", "LAST_NAME", "FIRST_NAME", "MIDDLE_NAME", "MEMBER_TYPE", "CATEGORY", "TITLE", "CITY", "COUNTY", "COMPANY_SORT", "FULL_ADDRESS", "MAIN_FIRM_NO"];
			case "CustomerNotes": return ["MAJOR_KEY", "LAST_FIRST", "MIDDLE_NAME", "COMMENTS"];
				defualt: return [];
		}
	}
	function showInput(input) {
		let inputText = document.getElementById(input);
		let inputTextTitle = document.getElementById(input + "Text");
		let button = document.getElementById(input + "Button");
		if (inputText.style.display == "none" || button.style.backgroundColor == "") {
			inputText.value = "";
			inputText.style.display = "block";
			inputTextTitle.style.display = "block";
			button.style.backgroundColor = "#20A64B"
			button.style.borderColor = "#20A64B"
		} else {
			inputText.style.display = "none";
			inputTextTitle.style.display = "none";
			button.style.backgroundColor = "#f1f3f2";
			button.style.borderColor = "#F9B123"
		}
		showSubmit();
	}
	function showSubmit() {
		let btnNames = getBtnNames();
		let active = 0;
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor === "rgb(32, 166, 75)") {
				++active;
				document.getElementById("submitButton").style.display = "block";
			}
		}
		if (active == 0) {
			document.getElementById("submitButton").style.display = "none";
		}
	}
	function copy(table) {
		let btnNames = getCopyBtnNames(table);
		let classNames = getCopyFields(table);
		let chosenFields = [];
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "CopyButton").style.backgroundColor == "rgb(32, 166, 75)") {
				chosenFields.push(classNames[button]);
			}
		}
		if (chosenFields.length == 0) {
			chosenFields = classNames;
		}
		console.log(chosenFields);
		constructClipboard(chosenFields);
		let clipboardContents = document.getElementById("clipboard").innerHTML;
		let itemsToCopy = document.createElement("textarea");
		document.body.appendChild(itemsToCopy);
		itemsToCopy.value = clipboardContents;
		itemsToCopy.select();
		document.execCommand("copy");
		console.log("copied!");
		document.body.removeChild(itemsToCopy);
		document.getElementById(table+"copyButton").innerHTML = '&#10004';
	}
	function copySelectButton(buttonID, table) {
		currentColour = document.getElementById(buttonID + "Button").style.backgroundColor;
		document.getElementById(table+"copyButton").innerHTML = '&#x1F4CB';
		if (currentColour == "rgb(241, 243, 242)" || currentColour == "") {
			document.getElementById(buttonID + "Button").style.backgroundColor = "#20A64B";
		}
		else {
			document.getElementById(buttonID + "Button").style.backgroundColor = "#f1f3f2";
		}
	}
	function showCopyDropdown(table) {
		document.getElementById(table+"Dropdown").classList.toggle("show");
	}
	function processQuery() {
		document.getElementById("loadingIcon").style.display = "block";
		document.getElementById("queriesLoaded").innerHTML = 0;
		let btnNames = getBtnNames();
		let classNames = getClassNames();
		let inputs = {}
		let dateTypesObjects = $('input[type=date]').map(function () { return this.id; }).get();
		for (let button in btnNames) {
			if (document.getElementById(btnNames[button] + "InputButton").style.backgroundColor == "rgb(32, 166, 75)") {
				if (dateTypesObjects.includes(btnNames[button] + "input")) {
					inputs[classNames[button]] = moment(document.getElementById(btnNames[button] + "Input").value).format('YYYY-MM-DDT00:00:00');
				}
				else {
					if (btnNames[button] + "Input")
					inputs[classNames[button]] = document.getElementById(btnNames[button] + "Input").value;
				}
			}
		}
		let xhttp = new XMLHttpRequest();
		xhttp.open("POST", 'api/person', true);
		let MOCKqueryResults;
		xhttp.onreadystatechange = function () {
			if (this.readyState == 4 && this.status == 200) {
				var queryResults = this.response
				queryResults = $.parseJSON(queryResults);
				document.getElementById("queriesLoaded").innerHTML = document.getElementById("queriesLoaded").innerHTML + 1
				displayResults(queryResults);
				document.getElementById("queryResults").innerHTML = JSON.stringify(queryResults);
			}
		};
		xhttp.setRequestHeader('Content-Type', 'application/json');
		xhttp.send(JSON.stringify(inputs));

	}
	function displayResults(inputs) {
		document.getElementById("loadingIcon").style.display = "none";
		//Delete previous table if it exists:
		tableDemolisherAndDisplayer("Customers");
		tableDemolisherAndDisplayer("Activity");
		tableDemolisherAndDisplayer("CustomerNotes");

		tableBuilder(inputs, "CustomersResultsTable", ["MAJOR_KEY", "MEMBER_TYPE", "CATEGORY", "FIRST_NAME", "MIDDLE_NAME", "LAST_NAME", "TITLE", "MAIN_FIRM_NO", "CITY", "COUNTY", "COMPANY_SORT", "FULL_ADDRESS"])
		tableBuilder(inputs, "ActivityResultsTable",  ["TRANSACTION_DATE", "MAJOR_KEY", "ACTIVITY_TYPE", "PRODUCT_CODE", "DESCRIPTION", "THRU_DATE", "AMOUNT"]);
		tableBuilder(inputs, "CustomerNotesResultsTable", ["MAJOR_KEY", "LAST_FIRST", "MIDDLE_NAME", "COMMENTS"])
	}
	function tableDemolisherAndDisplayer(tableName) {
		//Demolisher
		for (var i = document.getElementById(tableName + "ResultsTable").rows.length; i > 0; i--) {
			document.getElementById(tableName + "ResultsTable").deleteRow(i - 1);
		}
		//Displayer
		document.getElementById(tableName + "Container").style.display = "block";
		document.getElementById(tableName + "Header").style.display = "block";
		document.getElementById(tableName + "copyButton").innerHTML = '&#x1F4CB';
		document.getElementById(tableName + "copyButton").style.display = 'block';
		document.getElementById(tableName + "copySelectButton").style.display = "block";
	}
	function tableBuilder(queryResults, tableName, headers) {
		let table = document.getElementById(tableName);
		let headerTable = table.createTHead();
		let headerRowTable = table.insertRow(0);
		if (queryResults.length == 0) {
			let curHeaderCell = headerRowTable.insertCell(-1);
			curHeaderCell.innerHTML = "The query failed to return any results";
		}
		else {
			let tableHeaders = Object.keys(queryResults[0]).filter(word => headers.includes(word));
			let discardedHeaders = Object.keys(queryResults[0]).filter(word => !headers.includes(word));
			for (let i = 0; i < tableHeaders.length; ++i) {
				let curHeaderCell = headerRowTable.insertCell(-1);
				curHeaderCell.innerHTML = tableHeaders[i].replace(/_/g, " ");
			}
			let newInputs = [];
			for (let record in queryResults) {
				//NEED TO DELETE THIS FIELD WITHOUT DELEING GLOBAL INPUTS
				//THERE IS A BETTER WAY TO DO THIS
				let newRecord = {};
				tableHeaders.forEach(function (header) {
					let curRecord = queryResults[record];
					newRecord[header] = curRecord[header];
				});
				let recordsEqual = newInputs.map(curRecord => _.isEqual(newRecord, curRecord));
				if (!recordsEqual.includes(true)) {
					newInputs.push(newRecord);
				}
			}
			for (let record in newInputs) {
				let curRecord = newInputs[record];
				let recordValues = Object.values(newInputs[record]);
				let curRecordRow = table.insertRow(-1);
				for (let i = 0; i < tableHeaders.length; ++i) {
					let curRecordCell = curRecordRow.insertCell(-1);
					curRecordCell.innerHTML = recordValues[i];
				}
			}
		}
	}
	function constructClipboard(chosenFields) {
		let queryResults = JSON.parse(document.getElementById("queryResults").innerHTML);
		let clipboardContents = "";
		for (let curRecord in queryResults) {
			let record = queryResults[curRecord];
			for (let chosenField in chosenFields) {
				console.log(JSON.stringify(record[chosenFields[chosenField]]));
				if (record[chosenFields[chosenField]] != null){
					if (record[chosenFields[chosenField]].includes("\r")) {
						clipboardContents += "\t" + record[chosenFields[chosenField]].replace(/\r/g, ", ");
					} else {
						clipboardContents += "\t" + record[chosenFields[chosenField]];
					}
				}
			}
			clipboardContents += "\n";
		}
		document.getElementById("clipboard").innerHTML = clipboardContents;
	}

</script>